# Ignore all (to avoid binaries without extension)
*
# Unignore files with extension and directories
!*.*
!*/

!README
!TODO
!AUTHORS
!Doxyfile

# Ignored directories
build/

# My usual ignored files
*.txt
*~
*.swp
*.swo
*.o
*.a
*.so
*.class
*.log
*.core
*.pdf
*.out
*.cson
*.tar.gz
*.dot
*.png
*.sh
